* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
}

.container {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.0rem;
  background: #DBF5EC;
  width: 100%;
  height: 100vh;
}

.container .title {
  font-size: 3rem;
  line-height: 6.0rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  padding: 30px;
}

.photo {
  max-width: 31.333%;
  padding: 0 10px;
  height: 240px;
}

.photo img {
  width: 100%;
  height: 100%;
}
